*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.part1 {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    margin-left: 150px;
    margin-right: 150px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    padding-left: 10px;
    width: 150px;
}

.SortByView{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

.sbv {
    text-decoration: none;
    color: rgb(71, 69, 69);
    background-color: #E6E6E6;
    padding: 5 10px;
    text-align: center;
    border-radius: 5px;
}

.Blog{
    border-radius: 3px;
    background-color: #FF1F3D;
}

.Blog button {
    text-decoration: none; 
    padding: 0 10px;
    color: rgb(241, 230, 230);
    text-align: center;
}

.part2{
    margin-left: 150px;
    margin-right: 150px;
}


.part3 {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

button{
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

button.b1{
    background-color: #FF1F3D;
    color: #E6E6E6;
    border-radius: 5px;
}

button.b2{
    border-radius: 5px;
}

button.b3{
    border-radius: 5px;
}

button.b4{
    border-radius: 5px;
}

#content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 90px;
    margin-right: 90px;
    gap: 1px;
}

.content-item {
    width: 250px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.categories button.active {
    color: red;
}
